<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="NewsItem" type="com.oliver.models.NewsItem"/>
		<typeAlias alias="NewsContent" type="com.oliver.models.NewsContent"/>
		<typeAlias alias="Paragraph" type="com.oliver.models.Paragraph"/>
		<typeAlias alias="Picture" type="com.oliver.models.Picture"/>
		<typeAlias alias="Stock" type="com.oliver.models.Stock"/>
		<typeAlias alias="StockMarket" type="com.oliver.models.StockMarket"/>
		<typeAlias alias="CompanyInfo" type="com.oliver.models.CompanyInfo"/>
		<typeAlias alias="Participation" type="com.oliver.models.Participation"/>
		<typeAlias alias="Manager" type="com.oliver.models.Manager"/>
		<typeAlias alias="StockInfo" type="com.oliver.models.StockInfo"/>
		<typeAlias alias="TestClass" type="com.oliver.models.TestClass"/>
	</typeAliases>
<!-- 	<mappers> -->
<!-- 		<mapper resource="com/oliver/models/NewsItemMapper.xml" /> -->
<!-- 		<mapper resource="com/oliver/models/NewsContentMapper.xml" /> -->
<!-- 		<mapper resource="com/oliver/models/ParagraphMapper.xml" /> -->
<!-- 	    <mapper resource="com/oliver/models/PictureMapper.xml" /> -->
<!-- 	    <mapper resource="com/oliver/models/StockMapper.xml" /> -->
<!-- 	    <mapper resource="com/oliver/models/StockMarketMapper.xml" /> -->
<!-- 	    <mapper resource="com/oliver/models/CompanyInfoMapper.xml" /> -->
<!-- 	    <mapper resource="com/oliver/models/ParticipationMapper.xml"/> -->
<!-- 	    <mapper resource="com/oliver/models/ManagerMapper.xml"/> -->
<!-- 	    <mapper resource="com/oliver/models/StockInfoMapper.xml"/> -->
<!-- 	</mappers> -->
</configuration>